<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav mr-auto float-right">
    <li class="nav-item">
            <span class="nav-link active">
              <i class="fas fa-user"></i>{{authService.userData.email}}
            </span>
    </li>
    <!-- Calling SignOut() Api from AuthService -->
    <li class="nav-item">
      <button class="btn btn-danger ml-3" (click)="authService.SignOut()">
        <i class="fas fa-sign-out-alt"></i>Log out
      </button>
    </li>
  </ul>
</nav>

<div class="container-fluid">

  <div class="row">
    <!-- Main content -->
    <div class="col-9">
<!--      <div class="inner-adjust">-->

        <div class=" border-bottom">
          <h1 class="h2">News</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngFor="let article of news">
          <div class="col-md-10">
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(article.urlToImage)}}"
                   alt="{{article.title}}" width="20%" height="20%">
              <div class="media-body">
                <h1> {{article.title}} by <strong>{{article.author}}</strong></h1>
                <p>{{article.description}}</p>
                <a href="{{article.url}}"><i>{{article.url}}</i></a>
                <p>{{article.publishedAt}}</p>
                <pre>{{article.content}}</pre>
              </div>
            </div>
          </div>
        </div>

<!--      </div>-->
    </div>

  </div>
</div>
