<div class="container-fluid">
  <div class="row">
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">News</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngFor="let article of news">
          <div class="col-md-12">
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(article.urlToImage)}}"
                   alt="{{article.title}}">
              <div class="media-body">
                <h1> {{article.title}} by <strong>{{article.author}}</strong></h1>
                <p>{{article.description}}</p>
                <a href="{{article.url}}"><i>{{article.url}}</i></a>
                <p>{{article.publishedAt}}</p>
                <pre>{{article.content}}</pre>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>

  </div>
</div>
